USE pharmacy_db
GO
/****** Object:  Table [dbo].[company]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[id_company] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[established] [int] NOT NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[id_company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dealer]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dealer](
	[id_dealer] [int] IDENTITY(1,1) NOT NULL,
	[id_company] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dealer] PRIMARY KEY CLUSTERED 
(
	[id_dealer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine](
	[id_medicine] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[cure_duration] [smallint] NOT NULL,
 CONSTRAINT [PK_medicine] PRIMARY KEY CLUSTERED 
(
	[id_medicine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id_order] [int] NOT NULL,
	[id_production] [int] NOT NULL,
	[id_dealer] [int] NOT NULL,
	[id_pharmacy] [int] NOT NULL,
	[date] [date] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacy]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy](
	[id_pharmacy] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[rating] [float] NULL,
 CONSTRAINT [PK_pharmacy] PRIMARY KEY CLUSTERED 
(
	[id_pharmacy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production](
	[id_production] [int] IDENTITY(1,1) NOT NULL,
	[id_company] [int] NOT NULL,
	[id_medicine] [int] NOT NULL,
	[price] [money] NOT NULL,
	[rating] [smallint] NOT NULL,
 CONSTRAINT [PK_production] PRIMARY KEY CLUSTERED 
(
	[id_production] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([id_company], [name], [established]) VALUES (1, N'Pfizer', 1997)
INSERT [dbo].[company] ([id_company], [name], [established]) VALUES (2, N'Novartis', 1990)
INSERT [dbo].[company] ([id_company], [name], [established]) VALUES (3, N'Roche Holding', 2000)
SET IDENTITY_INSERT [dbo].[company] OFF
SET IDENTITY_INSERT [dbo].[dealer] ON 

INSERT [dbo].[dealer] ([id_dealer], [id_company], [name], [phone]) VALUES (1, 8, N'Ловзанский Феоктист Фомевич', N'7(7800)227-72-32')
INSERT [dbo].[dealer] ([id_dealer], [id_company], [name], [phone]) VALUES (2, 6, N'Яшуков Капитон Архипович', N'7(676)046-56-35')
INSERT [dbo].[dealer] ([id_dealer], [id_company], [name], [phone]) VALUES (3, 7, N'Кривоухов Эрнст Адрианович', N'7(13)135-92-59')
SET IDENTITY_INSERT [dbo].[dealer] OFF
INSERT [dbo].[medicine] ([id_medicine], [name], [cure_duration]) VALUES (1, N'Анаферон', 11)
INSERT [dbo].[medicine] ([id_medicine], [name], [cure_duration]) VALUES (2, N'Арбидол', 7)
INSERT [dbo].[medicine] ([id_medicine], [name], [cure_duration]) VALUES (3, N'Баралгетас', 12)
INSERT [dbo].[order] ([id_order], [id_production], [id_dealer], [id_pharmacy], [date], [quantity]) VALUES (1, 10, 77, 16, CAST(N'2019-10-31' AS Date), 496)
INSERT [dbo].[order] ([id_order], [id_production], [id_dealer], [id_pharmacy], [date], [quantity]) VALUES (2, 132, 11, 11, CAST(N'2019-04-13' AS Date), 66)
INSERT [dbo].[order] ([id_order], [id_production], [id_dealer], [id_pharmacy], [date], [quantity]) VALUES (3, 6, 79, 10, CAST(N'2019-02-21' AS Date), 746)
GO
INSERT [dbo].[pharmacy] ([id_pharmacy], [name], [rating]) VALUES (1, N'Панатек', 9)
INSERT [dbo].[pharmacy] ([id_pharmacy], [name], [rating]) VALUES (2, N'Аптека № 73', 4)
INSERT [dbo].[pharmacy] ([id_pharmacy], [name], [rating]) VALUES (3, N'Интерфарм-3', 10)
SET IDENTITY_INSERT [dbo].[production] ON 

INSERT [dbo].[production] ([id_production], [id_company], [id_medicine], [price], [rating]) VALUES (1, 1, 1, 11233.0000, 5)
INSERT [dbo].[production] ([id_production], [id_company], [id_medicine], [price], [rating]) VALUES (2, 2, 1, 9098.0000, 8)
INSERT [dbo].[production] ([id_production], [id_company], [id_medicine], [price], [rating]) VALUES (3, 3, 1, 7074.0000, 8)
GO
SET IDENTITY_INSERT [dbo].[production] OFF
